{% extends "GRsystem/index.html" %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block content %}
<style>
body
{

    background-color: #007bff !important;
    
}
H1,H2,H3{
    color:white;
    padding:10px;
}
img{
  width:100%;
  height:100%;
}
.card
{
  border:#007bff !important;
}
a {
  color:black;
  font-weight:bold;

 
     color: #000;
     padding: 1px;
}
#middle{
  left: 0;

    margin-top: -100px;
    position: absolute;
  
    top: 50%;
    width: 100%;
}
</style>
<br>
          {% load static %}
          <div id="middle">
 <center> 
 





			<H2>Developed By: SURAJ BHANDARKAR S </H2>   
							
click here to visit my git-repo<a href="https://github.com/Suraj-Bhandarkar-S"> Github</a><br>
email: <a href="#">suraj.bhandarkar@gmail.com</a>
<h3> A self made project made using<a href="https://www.djangoproject.com/"> Django</a></h3>
    
               

</center>
</div>

  {% endblock %}