{% extends "GRsystem/index.html" %}


{% load crispy_forms_tags %}
{% block content %}

<style>

</style>

<body style="background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #4A00E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
"
>
<div  class="jumbotron text-center">
        <h1 style="color:blue">Welcome to Grievance Readdresal System Login Section</h1>
        <p style="color:blue">Choose the Prefered Login Below.</p> 
      </div>

          {% load static %}
      <center>
    
        <div class="row d-flex justify-content-center ">
        <div class="col-sm-3">
         <div class="card mx-auto ">
          <div class="col">
              <br>
            <img src="{% static 'GRsystem/img/student.png' %}" class="img-rounded" alt="Cinque Terre">
            
            <p></p>
            <a href="/signin/"><button type="button" class="btn  btn-outline-primary">Student/Staff Login</button></a>
           </div>
           </div>
          </div>
        <div class="col-sm-3">
         <div class="card mx-auto">
          <div class="col">

                <br>
            <img src="{% static 'GRsystem/img/admin.png' %}" class="img-rounded" alt="Cinque Terre">
            <p></p>
           <a href="/admin/" class="btn  btn-outline-primary">Admin Login</a>
          </div>
          </div>
        </div>
       </div>
</center>
      </body>

  {% endblock content %}