{% extends "GRsystem/index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style>


td.color_1{ background-color: #7FFF00; }
td.color_2{ background-color: yellow; }
td.color_3{ background-color: red; }
table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}
.form-required { display: none; }
.requiredField
{
  display:none;
}
.alert
{
  width:400px;
}
th{
   font-size:16px;
   font-family:Arial;
}

</style>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>All Complaints</title>
   
  <!-- Bootstrap core CSS -->
  <link href= "{% static "GRsystem/extra/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "GRsystem/css/simple-sidebar.css" %}" rel="stylesheet">

</head>

<body style="background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #4A00E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
"
>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">GRSystem </div>
      <div class="list-group list-group-flush">
        {% if user.is_authenticated  %}
			 
               <a href="" class="list-group-item list-group-item-action active"> Welcome : {{user.first_name}} </a>
              <a href='/counter/' class="list-group-item list-group-item-action">Statistics</a>
             
              <a href='/passwords/' class="list-group-item list-group-item-action">Password Reset</a>

              
              <a href="/allcomplaints/" class="list-group-item list-group-item-action">Complaints</a>
              <a href="/solved/" class="list-group-item list-group-item-action">Solved</a>

              {% endif %}
              
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
     
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">DashBoard</button>
       &nbsp;&nbsp;&nbsp;&nbsp;
       <br>
       <br>
 <form class="form-inline px-2" method="GET" >


    <input class="form-control " type="search" placeholder="Search" aria-label="Search" name="search" >
    &nbsp;
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    
   &nbsp;
  <label for="sel1"></label>
  <select class="form-control px-2" id="sel1" name="drop">
  
    <option>ClassRoom</option>
    <option>Teacher</option>
    <option>Management</option>
    <option>School</option>
    <option>Other</option>
  </select>
&nbsp;
    <button class="btn btn-outline-primary my-3 my-sm-1" type="submit">Search</button>
  
    </form>
      </nav>
      <br>
          <ul>
	{% for message in messages %}
	   <div {% if message.tags %} class="alert alert-{{ message.tags }} "{% endif %}>
	   <a class="close ml-2" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
	{% endfor %}
</ul>
      <div class="container-fluid">
      <div class="card-body bg-light">
        <h1 class="mt-4 text-primary"><b>Complaints Table</h1>
        <br>
    
    <div class="table-responsive">
	<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="5" width="100%">
  <thead>
    <tr class="bg-white">
	
      <th class="th-sm text-primary">ID

      </th>
      <th class="th-sm  text-primary ">UserID

      </th>
	  <th class="th-sm  text-primary">Subject

    
      <th class="th-sm  text-primary">Complaint Type

      </th>
      <th class="th-sm-12  text-primary">Issued date

      </th>
      <th class="th-sm  text-primary">Desc

      </th>
      <th class="th-sm  text-primary">Status

      </th>
       </th>
     
      <th class="th-sm  text-primary">
      Update
      </th>
      <th class="th-sm  text-primary">

      </th>
    </tr>
  </thead>
 
{% for data in c %}
  <tbody>
    <tr>
      <td class="counterCell bg-white"> </td>

      <td class="bg-white">cpm0{{ data.user.id }}</td>
      
	    <td class="bg-white">{{data.Subject}}</td>
    <!--  <td class="bg-white">{{ data.Branch }}</td>-->
      <td class="bg-white">{{ data.get_Type_of_complaint_display }}</td>
      <td class="bg-white">{{ data.Time }}</td>
      <td class="bg-white">
    
      <form method="POST" action='/pdf_g/'>
      {% csrf_token %}
      <input type='hidden' name="cid" value={{data.id}}>
      <input type="hidden" name="uid" value={{ data.user_id}}>
      <button type='submit' class="btn btn-outline-primary" name="pdf">Details</button>
      </form>
      </td>
      
	 
      <td class="color_{{ data.status }} "></td>

      <form method="POST">
      {% csrf_token %}
      <td class="bg-white" class="">{{ forms|crispy }}</td>
      <td class="bg-white">
      <input type='hidden' name="cid2" value={{data.id}}>
      <input type="hidden" name="uid" value={{ data.user_id}}>
      <button type='submit' class="btn btn-outline-primary">Submit</button>
      </form>
      </td>
     
	  
    
	
    </tr>
    
  </tbody>
  {% endfor %} 
  

 
      </ul>
  <tfoot>

</table>
</div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
   </div>
  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

		
{% endblock content %}